/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Nav links */
.blog-nav {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
  font-size: 18px;
  position: relative;
  bottom: -35px;
}
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  font-weight: 500;
  color: #333;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #333;
  text-decoration: none;
}
.blog-nav-item:last-child {
  padding-right: 0;
}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #606060;
}
.blog-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-title>a,
.blog-title>a:hover,
.blog-title>a:focus {
  text-decoration: none;
  color: inherit;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-title>a,
.blog-post-title>a:hover,
.blog-post-title>a:focus {
  text-decoration: none;
  color: inherit;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */
.blog-footer {
  padding-top: 0;
  color: #666;
  border-top: 1px solid #606060;
}

/*
 * Wedding page
 */
.wedding-container {
  color: #5b3c26;
}

.wedding-container h1, 
.wedding-container .h1, 
.wedding-container h2, 
.wedding-container .h2, 
.wedding-container h3, 
.wedding-container .h3, 
.wedding-container h4, 
.wedding-container .h4, 
.wedding-container h5, 
.wedding-container .h5, 
.wedding-container h6, 
.wedding-container .h6 {
  color: #5b3c26;
}

.wedding-container a:hover, .wedding-container a:focus {
  color: #9c632e;
  text-decoration: underline;
}
.wedding-container a {
  color: #9c632e;
  text-decoration: none;
}

.wedding-container div.page-header {
  padding-bottom: 0px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

.wedding-container .nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-top: -10px;
}

.wedding-container #invitation-carousel {
  padding-top: 40px;
  padding-bottom: 40px;
}

.wedding-container .invitation-carousel-indicators li {
  background-color: #5b3c26;
}

.wedding-container .invitation-carousel-indicators .active {
  background-color: #9c632e;
}

.wedding-container .invitation-carousel-indicators {
  bottom: 10px;
}

.wedding-container .wedding-image {
  padding-top: 20px;
  padding-bottom: 0px;
}
